body {
    font-size: 40px;
}

.top-nav #warenkorb a:hover {
    color:rgb(0, 102, 255);
}   

.bottom-nav {
    background-color: rgb(0, 102, 255);
}
.bottom-nav ul {
    font-size: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
}
.bottom-nav ul li {
    border: none;
}
.bottom-nav ul a {
    text-decoration: none;
    color: white;
}
.bottom-nav ul a:hover {
    color: black;
}

.top-nav {
    height: 15vh;
}
.top-nav img {
    height: 120px;
    width: 460px;
}

.bestellbox {
    top: 150px;
}
.bestellbox #box-togo:hover, #box-tostay:hover {
    background-color: rgb(0, 102, 255);
}